[Desktop Entry]
Type=Application

Name=nwg-panel Settings
Name[pl]=Ustawienia nwg-panelu

GenericName=nwg-panel configurator
GenericName[pl]=Ustawienia nwg-panelu

Comment=Tool to configure nwg-panel
Comment[pl]=Narzędzie do konfiguracji Panelu nwg

Exec=nwg-panel-config
Icon=nwg-panel
Terminal=false
Categories=Settings;DesktopSettings;
