window {
    background: #3a3e46
}


button {
    margin: 2px
}

#task-box {
    padding-left: 4px;
    padding-right: 4px;
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}

#executor-box {
    padding-left: 4px;
    padding-right: 4px;
}

#executor-label {
    font-family: monospace
}

#weather {
    font-family: Weather icons
}