button {
    margin: 2px;
}

#button-grid {
    background: rgba (255, 255, 255, 0.0);
    border: 0
}

#primary-top {
    background: #101010
}

#all-bottom {
    background: #3b4559
}

#task-box {
    padding-left: 4px;
    padding-right: 4px;
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}

#executor-label {
    font-family: monospace
}

#controls-window {
    border-radius: 15px;
    background: #36364f
}

#controls-menu {
    background: #36364f;
    border: none
}

#clock {
    font-family: monospace;
    font-size: 16px;
    /*font-weight: bold*/
}

#weather {
    font-family: monospace;
    font-size: 16px;
    /*font-weight: bold*/
}

menuitem {
  padding: 10px
}
